<div class="row">
  <div class="col l10 offset-l1 m12 s12">
    <h4>Admin Tools</h4>
  </div>
  <div class="col l10 offset-l1 m12 s12 center-align">
    <%= link_to get_posts_path(campaign_id: @campaign.id, format: "csv"), class: 'btn waves-effect waves-light blue darken-4' do %>
      <i class="fa fa-cloud-download"></i> DOWNLOAD ENTRIES
    <% end %>
    <%= link_to edit_campaign_path(@campaign), class: 'btn waves-effect waves-light purple darken-4' do %>
      <i class="fa fa-pencil"></i> <%= "EDIT #{@campaign.title}" %>
    <% end %>
    <% if @campaign.live %>
      <%= simple_form_for @campaign, html: { class: "stop-campaign"} do |f| %>
        <%= f.check_box :live, label: false, :class => "hidden", :wrapper => false, :checked => false %>
        <%= button_tag(type: 'submit', class: 'btn red darken-4 waves-effect waves-light') do %>
          <i class="fa fa-ban"></i> <%= "STOP #{@campaign.title}" %>
        <% end %>
      <% end %>      
    <% else %>          
      <%= simple_form_for @campaign, html: { class: "start-campaign"} do |f| %>
        <%= f.check_box :live, label: false, :class => "hidden", :wrapper => false, :checked => true %>
        <%= button_tag(type: 'submit', class: 'btn green darken-4 waves-effect waves-light') do %>
          <i class="fa fa-thumbs-up"></i> <%= "START #{@campaign.title}" %>
        <% end %>
      <% end %>     
    <% end %>
    <%= link_to slideshow_path(campaign_id: @campaign.id), class: 'btn waves-effect waves-light orange darken-4' do %>
      <i class="fa fa-photo"></i> SLIDESHOW
    <% end %> 
    <%= link_to random_winner_path(campaign_id: @campaign.id), class: 'btn waves-effect waves-light green darken-4' do %>
      <i class="fa fa-trophy"></i> CHOOSE WINNER
    <% end %>     
  </div>
</div>