<div class="row">
  <div class="col l6 offset-l1">
    <h4>Admin Tools</h4>
  </div>
  <div class="col l4">        
    <h4>
      <div class="switch">
        <label>
          Help Off
          <input id="helpers" type="checkbox">
          <span id="helper-lever" class="lever"></span>
          Help On
        </label>
      </div>        
    </h4>       
  </div>    
</div>
<div class="row">
  <div class="col l10 offset-l1 m12 s12 center-align">
    <%= link_to get_posts_path(campaign_id: @campaign.id, format: "csv"), class: 'btn waves-effect waves-light blue accent-3', :data => { :position => "top", :delay => "50", :tooltip => "Download all entries from #{@campaign.title}" } do %>
      <i class="fa fa-cloud-download"></i> ENTRIES
    <% end %>
    <%= link_to edit_campaign_path(@campaign), class: 'btn waves-effect waves-light purple darken-3', :data => { :position => "bottom", :delay => "50", :tooltip => "Edit #{@campaign.title}" } do %>
      <i class="fa fa-pencil"></i> <%= "EDIT" %>
    <% end %>
    <% if @campaign.live %>
      <%= simple_form_for @campaign, html: { class: "stop-campaign"} do |f| %>
        <%= f.check_box :live, label: false, :class => "hidden", :wrapper => false, :checked => false %>
        <%= button_tag(type: 'submit', class: 'btn deep-orange accent-3 waves-effect waves-light', :data => { :position => "top", :delay => "50", :tooltip => "End #{@campaign.title}" }) do %>
          <i class="fa fa-ban"></i> <%= "END" %>
        <% end %>
      <% end %>      
    <% else %>          
      <%= simple_form_for @campaign, html: { class: "start-campaign"} do |f| %>
        <%= f.check_box :live, label: false, :class => "hidden", :wrapper => false, :checked => true %>
        <%= button_tag(type: 'submit', class: 'btn green accent-4 waves-effect waves-light', :data => { :position => "top", :delay => "50", :tooltip => "Set #{@campaign.title}" }) do %>
          <i class="fa fa-thumbs-up"></i> <%= "GO LIVE" %>
        <% end %>
      <% end %>     
    <% end %>
    <%= link_to slideshow_path(campaign_id: @campaign.id), class: 'btn waves-effect waves-light orange darken-4', :data => { :position => "bottom", :delay => "50", :tooltip => "View a slideshow of all entries" } do %>
      <i class="fa fa-photo"></i> SLIDESHOW
    <% end %> 
    <%= link_to random_winner_path(campaign_id: @campaign.id), class: 'btn waves-effect waves-light green darken-4', :data => { :position => "top", :delay => "50", :tooltip => "Pick a random winner" } do %>
      <i class="fa fa-trophy"></i> WINNER
    <% end %>     
  </div>
  <div class="row">
    <form class="col s10 offset-l1">
      <div class="row">
        <%= form_tag(campaign_path(@campaign, @campaign.posts), :method => "get", id: "search-form") do %>
          <div class="input-field col s8">
            <i class="material-icons prefix">search</i>
            <%= text_area_tag :search, params[:search], id: 'icon_prefix2', :class => 'materialize-textarea' %>
            <label for="icon_prefix2">Search by Email or Name</label>
          </div>
          <div class="input-field col s2">
            <%= submit_tag "Search", :class => 'btn grey darken-4' %>
          </div>
        <% end %>
      </div>
    </form>
  </div>  
</div>
<% if params[:search] && params[:search].length > 0 && !@posts.present? %>            
  <script>   
    window.onload = function () {
      var msg = "No email address or name found containing the search terms \'<%= params[:search]%>\'";
      Materialize.toast(msg, 5000, 'red darken-4');
    }               
  </script>
<% end %>   