<div class="col l12 m12 s12 xs12">
	<% if @approved_campaigns.length != 0 %>
		<ul class="collection">
			<% @approved_campaigns.each do |campaign| %>
				<li class="collection-item avatar">
					<%= link_to campaign_path(campaign) do %>
						<% if campaign.video? %>
							<% if campaign.video_processing? %>
								<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle', :data => { :position => "bottom", :delay => "50", :tooltip => "Thumbnail is processing..." } %>
							<% else %>
								<% if campaign.live %>
									<%= image_tag campaign.video.thumb.url, class: 'circle live-campaign', :data => { :position => "bottom", :delay => "50", :tooltip => "This campaign is LIVE!" } %>
								<% else %>
									<%= image_tag campaign.video.thumb.url, class: 'circle dead-campaign', :data => { :position => "bottom", :delay => "50", :tooltip => "This campaign is NOT live!" } %>
								<% end %>
							<% end %>
						<% elsif campaign.feature? %>
							<% if campaign.feature_processing? %>
								<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle', :data => { :position => "bottom", :delay => "50", :tooltip => "Thumbnail is processing..." } %>
							<% else %>
								<% if campaign.live %>
									<%= image_tag campaign.feature.tiny.url, class: 'circle live-campaign', :data => { :position => "bottom", :delay => "50", :tooltip => "This campaign is LIVE!" } %>
								<% else %>
									<%= image_tag campaign.feature.tiny.url, class: 'circle dead-campaign', :data => { :position => "bottom", :delay => "50", :tooltip => "This campaign NOT live!" } %>
								<% end %>
							<% end %>
						<% else %>
							<%= image_tag "missing-thumb.png", :alt => "missing thumbnail", class: 'circle' %>
						<% end %>
						<span class="title" data-position="bottom" data-delay="50" data-tooltip="Visit <%= campaign.title%>"><b>Title:</b> <%= campaign.title  %></span>
						<p><b>URL:</b> <%= "#{root_url(:protocol => 'https').chomp('/')}#{url_for campaign}" %><p>
						<p><b>Entries:</b> <%= campaign.posts.count %><p>
						<%= link_to approved_content_path(campaign), class: 'secondary-content edit' do %>
							<span class="fa-stack fa-lg" data-position="top" data-delay="50" data-tooltip="Edit <%= campaign.title%>">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-play fa-stack-1x fa-inverse"></i>
							</span>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% else %>
		<h5 class="white-text">No Approved Campaigns</h5>
	<% end %>
</div>
