<ul class="collection">
	<% @campaigns.each do |campaign| %>
		<li class="collection-item avatar">						
			<% if campaign.video? %>
				<% if campaign.video_processing? %>
					<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle' %>				
				<% else %>
					<%= image_tag campaign.video.thumb.url, class: 'circle' %>					
				<% end %>
			<% elsif campaign.feature? %>
				<% if campaign.feature_processing? %>
					<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle' %>				
				<% else %>
					<%= image_tag campaign.feature.tiny.url, class: 'circle' %>
				<% end %>				
			<% else %>			
				<%= image_tag "missing-thumb.png", :alt => "missing thumbnail", class: 'circle' %>
			<% end %>
			<span class="title"><b><%= link_to campaign.title, campaign_path(campaign) %></b></span>
			<p><%= campaign.description %></p>
			<a class="secondary-content"><i class="material-icons">grade</i></a>
		</li>
	<% end %>
</ul>