<div class="col l12 m12 s12 xs12">
	<ul class="collection">
		<% @campaigns.each do |campaign| %>
			<li class="collection-item avatar">						
				<%= link_to campaign_path(campaign) do %>
					<% if campaign.video? %>
						<% if campaign.video_processing? %>
							<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle' %>				
						<% else %>
							<%= image_tag campaign.video.thumb.url, class: 'circle' %>					
						<% end %>
					<% elsif campaign.feature? %>
						<% if campaign.feature_processing? %>
							<%= image_tag "red-preloader.gif", :alt => "preloader", class: 'circle' %>				
						<% else %>
							<%= image_tag campaign.feature.tiny.url, class: 'circle' %>
						<% end %>				
					<% else %>			
						<%= image_tag "missing-thumb.png", :alt => "missing thumbnail", class: 'circle' %>
					<% end %>
					<span class="title"><b>Title:</b> <%= campaign.title  %></span>
					<p><b>URL:</b> <%= "#{root_url.chomp('/')}#{url_for campaign}" %><p>
					<%= link_to campaign_path(campaign), data: {confirm: 'Are you sure?'}, method: :delete, class: 'secondary-content' do %>
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-trash fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<%= link_to edit_campaign_path(campaign), class: 'secondary-content edit' do %>
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
						</span>
					<% end %>
					<a class="copy secondary-content" data-clipboard-text="<%= "#{root_url.chomp('/')}#{url_for campaign}" %>">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>