<div class="row">
	<%= simple_form_for @campaign, :class => "col s12" do |f| %>
		<div class="row">
			<div class="input-field col s12">
				<%= f.input :title, label: false, :class => "validate", :wrapper => false %>
				<label for="campaign_title">Enter a Title</label>				
			</div>
		</div>
		<div class="row">
				<% if @campaign.feature? %>					
					<div class="col l12">
					<p>Current Feature</p>
					</div>
					<div class="col l6 offset-l3">
						<%= image_tag( @campaign.feature.url, :class => 'responsive-img') %>					
					</div>
				<% else %>
					<div class="col l12">
						<p>Feature</p>
					</div>
				<% end %>			
			<div class="file-field input-field col s12">
				<div class="btn red darken-4">
					<span>UPLOAD</span>
					<%= f.file_field :feature %>
				</div>
				<div class="file-path-wrapper">				
			        <input class="file-path validate" type="text">
				</div>
				<%= f.hidden_field :feature_cache %>
			</div>
			<div class="file-field input-field col s12">
				<div class="btn red darken-4">
					<span>VIDEO</span>
					<%= f.file_field :video %>
				</div>
				<div class="file-path-wrapper">				
			        <input class="file-path validate" type="text">
				</div>				
			</div>			
		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.input :description, label: false, :class => "validate", :wrapper => false %>
				<label for="campaign_description">Enter a Description</label>				
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.input :call_to_action, label: false, :class => "validate", :wrapper => false %>
				<label for="campaign_call_to_action">Enter a Call To Action</label>
			</div>
		</div>	
		<div class="row">
			<div class="input-field col s12">	
				<%= button_tag(type: 'submit', class: 'btn red darken-4 waves-effect waves-light') do %>
					<i class="material-icons left">add</i>Create
				<% end %>
			</div>
		</div>
	<% end %>
</div>