<% @posts.each do |post| %>
	<% if post.image_url? %>
		<div class="col l3 m3 s4 xs4 entry-thumb">
			<% if user_admin(current_user) %>
				<%= link_to campaign_post_path(@campaign, post), data: { confirm: 'Are you sure?' }, method: :delete, class: 'post-delete', :remote => true, :data => { :position => "top", :delay => "50", :tooltip => "Delete post from #{post.full_name}" } do %>
					<span class="fa-stack fa-lg circle hoverable z-depth-1">
					  <i class="fa fa-circle fa-stack-2x red-text text-darken-4"></i>
					  <i class="fa fa-times fa-stack-1x white-text"></i>
					</span>
				<% end %>
			<% end %>
			<div class="card hoverable">
				<div class="card-image">
					<a class="feed-modal-trigger" href="<%= "#post-#{post.id}" %>">
						<img class="<%= "post-#{post.id}" %>" data-processing="<%= post.image_url_processing %>" data-id="<%= post.id %>" data-campaign="<%= post.campaign.friendly_id %>" src="<%= post.image_url.thumb.url %>" data-position="top" data-delay="50" data-tooltip="View post from <%= post.full_name%>">
					</a>
				</div>
			</div>
		</div>
	<% elsif post.video_url? %>
		<div class="col l3 m3 s4 xs4 entry-thumb">
			<% if user_admin(current_user) %>
				<%= link_to campaign_post_path(@campaign, post), data: { confirm: 'Are you sure?' }, method: :delete, class: 'post-delete', :remote => true do %>
					<span class="fa-stack fa-lg circle hoverable z-depth-1">
					  <i class="fa fa-circle fa-stack-2x red-text text-darken-4"></i>
					  <i class="fa fa-times fa-stack-1x white-text"></i>
					</span>
				<% end %>
			<% end %>
			<div class="card hoverable">
				<div class="card-image vid-card">
					<a class="feed-modal-trigger" href="<%= "#post-#{post.id}" %>">
						<img data-processing="<%= post.video_url_processing %>" data-id="<%= post.id %>" data-campaign="<%= post.campaign.friendly_id %>" class="vid-thumb <%= "post-#{post.id}" %>" src="<%= post.video_url.thumb.url %>" data-position="top" data-delay="50" data-tooltip="View post from <%= post.full_name%>">
					</a>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<div class="col l12 m12 s12 xs12 center-align">
	<%= will_paginate @posts %>
</div>
<%= render 'campaigns/postmodals' %>


