<main id="content_review_main" class="login-screens">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Content Review Dashboard</h2>
        <p>You can review and download all entries here. Click either the "Download All Entries" button OR click "Not Added" on the individual entries to add them to the new zip archive you are creating. After you've made your selections, you may click the up arrow and scroll to the top to submit the list with the "Download Selected Entries" button. <b>PLEASE BE PATIENT AND DO NOT RELOAD THE PAGE.</b> The request and archival process may take a while depending on the number of entrants. <b>REPEAT: PLEASE BE PATIENT.</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center-align">
        <%= link_to "Download All Entries", download_all_posts_path(@campaign.id), :class => 'btn' %>
      </div>
      <div class="col s12 m6 center-align">
        <div id="new-post-collection">
        </div>
        <%= form_tag download_selected_posts_path(@campaign.id),:method => 'get' do %>
          <%= text_area_tag(:selected_posts) %>
          <div class="btn disabled fake-btn">Download Selected Entries</div>
          <%= submit_tag("Download Selected Entries", :class => 'btn download-selected hide') %>
        <% end %>
      </div>
    </div>
    <div id="masonry-grid" class="row">
      <%= render partial: 'content_review_posts' %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate(@post_collection) %>
    </div>
  </div>
  <div id="scrollTop" class="fixed-action-btn" style="bottom: 250px; right: 24px;">
    <a class="btn-floating btn-large grey darken-4">
      <i class="large fa fa-arrow-up"></i>
    </a>
  </div>
</main>
