<!-- PRELOADER -->
<script>
  // var images = 0;
  // var postCount = <%= @campaign.posts.count %>;
  // var li = 0;
  // function incImgCount(){
    // images++;
    // console.log(images);
    // if(images === postCount){
    //   $('#content-preloader').fadeOut();
    // }
  // }

  var selectedPosts = ('<%= @campaign.posts_for_review %>').replace(/&quot;/g,'');
  selectedPosts = JSON.parse(selectedPosts);
</script>

<!-- <div id="content-preloader">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align preloader-valign valign-wrapper">
        <div class="progress valign">
            <div class="indeterminate"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<main id="content_review_main" class="login-screens">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Content Review Dashboard</h2>
        <% if @campaign.approved %>
          <div class="row">
            <div class="col s12 red darken-4 center-align">
              <h4><span class="black-text">WARNING!</span> THIS CONTENT HAS BEEN APPROVED. MARKING FOR REVIEW AGAIN WILL ERASE ALL APPROVALS AND RESTART THE PROCESS.</h4>
            </div>
          </div>
        <% end %>
        <p>To mark for approval, click "NOT ADDED". When the content is added to the review list, the button will say "ADDED!". Once you are finished marking content for approval, click "MARK FOR REVIEW". This begins the approval process.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 center-align">
        <%= link_to "Download All Entries", download_all_posts_path(@campaign.id), :class => 'btn download-all-posts-btn', :remote => true, :data => { :campaign_id => @campaign.id }, :method => 'post' %>
      </div>
      <div class="col s12 m4 center-align">
        <div id="new-post-collection">
        </div>
        <%= form_tag download_selected_posts_path(@campaign.id), :remote => true, :data => { :campaign_id => @campaign.id }, :method => 'post', :id => 'download-selected-posts-form' do %>
          <%= text_area_tag(:selected_posts) %>
          <div class="btn disabled fake-btn">Download Selected Entries</div>
          <%= submit_tag("Download Selected Entries", :class => 'btn download-selected hide') %>
        <% end %>
      </div>
      <div class="col s12 m4 center-align">
        <%= form_tag posts_for_review_path(@campaign.id), :data => { :campaign_id => @campaign.id }, :method => 'post', :id => 'posts-for-review-form' do %>
          <%= text_area_tag(:selected_posts_for_review) %>
          <div class="btn disabled fake-btn">Mark For Review</div>
          <%= submit_tag("Mark For Review", :class => 'btn mark-for-review green hide') %>
        <% end %>
      </div>
    </div>
    <% if @campaign.needs_review == true %>
    <div class="row">
      <div class="col s12 m4 offset-m2 center-align">
        <%= link_to "REVIEW NOW", practices_review_path(@campaign), :class => 'btn green' %>
      </div>
      <div class="col s12 m4 center-align">
        <%= link_to "Remove From Review", unmark_for_review_path(@campaign.id), :class => 'btn red', :data => { :campaign_id => @campaign.id }, :method => 'post' %>
      </div>
    </div>
    <% end %>
    <div id="masonry-grid" class="row sort_paginate_ajax">
      <%= render partial: 'content_review_posts' %>
    </div>
  </div>
<!--   <div id="scrollTop" class="fixed-action-btn" style="bottom: 250px; right: 24px;">
    <a class="btn-floating btn-large grey darken-4">
      <i class="large fa fa-arrow-up"></i>
    </a>
  </div> -->
</main>
<!-- zip downloader modal -->
<div id="zip-downloader-modal" class="modal">
  <div class="modal-content">
    <h4 class="zip-modal-header">Your zip is being prepared<span>...</span></h4>
    <p class="zip-modal-decription">Please wait while we download, organize, and zip up your files.</p>
    <div class="row">
      <div class="col s12 center-align zip-modal-content">

        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
