<main id="content_review_main">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 center-align">
        <%= link_to "Download All Entries", download_all_posts_path(@campaign.id), :class => 'btn' %>
      </div>
      <div class="col s12 m6 center-align">
        <%= form_tag url_for(:controller => 'campaigns', :action => 'download_selected_posts'), :method => 'get' do %>
          <%= text_area_tag(:selected_posts) %>
          <%= submit_tag("Download Selected Entries", :class => 'btn') %>
        <% end %>
      </div>
    </div>
    <div id="masonry-grid" class="row">
      <%= render partial: 'content_review_posts' %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate(@post_collection) %>
    </div>
  </div>
</main>
