<main>
	<div class="container">
		<div class="row">
			<div class="col l8 offset-l2 m10 offset-m1 s12">
				<h3><%= @campaign.title %></h3><%= link_to "Edit", edit_campaign_path(@campaign) %><br>
				<div class="card large">
					<div class="card-image">
						<% if @campaign.feature? %>
							<%= image_tag( @campaign.feature.url ) %>
						<% elsif @campaign.video? %>
							<%= videojs_rails sources: { mp4: "#{@campaign.video.url}"}, setup: "{}", controls: true, width:"auto", height:"100%", class: 'vjs-big-play-centered' %>						
						<% end %>						
					</div>
					<div class="card-content">
			          <p><%= @campaign.description %></p>
			        </div>
			        <div class="card-action center-align">
						<%= @campaign.call_to_action %><br>
						<a class="btn wave-effect wave-light grey add-content darken-4 modal-trigger" href="#entryform">Enter Here</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<% @campaign.posts.each do |post| %>
					<%= post.video_url %>
				<% end %>			
			</div>
		</div>
	</div>
</main>


<!-- Modal Structure -->
<div id="entryform" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<%= simple_form_for [@campaign, @campaign.posts.build] do |f| %>
		  <%= f.input :video_url, label: 'Video URL' %>
	</div>
	<div class="modal-footer">		
		  <%= f.submit 'Submit' , class: 'btn wave-effect wave-light grey add-content darken-4' %>
		<% end %>	
	</div>
</div>